# Virtual environments
venv/
myenv/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Environment variables
.env

# VS Code
.vscode//envjarvis
contacts.csv
jarvis.db
/engine/__pycache__
/engine/cookies.json
